@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --white-color: #fff;
    --brown-color: #8B4513;
    --grey-color: #707070;
    --grey-color-light: #aaa;
  }

body {
  font-family: "Poppins", sans-serif;
  background-color: #f8f9fa;
  color: #333;
  line-height: 1.6;
}

p {
  text-align: justify;
  text-indent: 30px;
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 50px;
    z-index: 1000;
    box-shadow: 0 0 2px var(--grey-color-light);
  }
  .logo_item {
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 22px;
    font-weight: 500;
    color: var(--black-color);
  }
  .navbar img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
  
  .navbar_content {
    display: flex;
    align-items: center;
    column-gap: 25px;
  }
  
  .navbar_content .nav_link {
    text-decoration: none;
    color: var(--grey-color);
    font-size: 18px;
  }
  
  .navbar_content .nav_link:hover {
    color: var(#8B4513);
  }

.nav_link.active {
    color: #8B4513;
  }
  
.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 0 20px;
}

.container h1 {
  font-size: 36px;
  margin-top: 70px;
  margin-bottom: 20px;
}

.container p {
  font-size: 18px;
  margin-bottom: 20px;
}

footer{
    background-color: rgb(225, 219, 195)
}
.footerContainer{
    width: 100%;
    padding: 30px 30px 20px ;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding:  10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: #8B4513;
    opacity: 0,9;
}

.socialIcons a:hover{
    background-color: #8B4513;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer-content p{
  text-align: center;
  color: black;
  max-width: 500px;
  line-height: 28px;
  font-size: 14px;
}

.footerBottom{
    background-color: #604c32;
    padding: 20px;
    text-align: center;
}
.footerBottom p{
    color: white;
}

@media (max-width: 700px){
    .socialIcons a{
        padding: 8px;
        margin: 4px;
    }
}